// ================================
// @@ BASE
// ================================

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

body {
  background: #999999;
  position: relative;
  height: 100vh;  
}